<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="./covid.jpg"  sizes="50x50"/>
    <title>COVID19 Dashboard</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/"><img src="./image.jpg" width="70" style="border-radius: 10px;" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Total <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/yesterday">Daily</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link disabled" href="/chart">Chart</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/yesterday" method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="filter_cntry">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <div class="container">
        <a class="button" href="/">Total</a>
        <img src="./image.jpg" alt="" width="300">
        <h1>COVID19 Dashboard-Daily</h1>
       
       
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Cases</th>
                    <th>Active</th>
                    <th>Recovered</th>
                    <th>Deaths</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Global</td>
                    <td><%= (typeof cases != "undefined" ? cases : "") %></td>
                    <td><%= (typeof active != "undefined" ? active : "") %></td>
                    <td><%= (typeof recovered != "undefined" ? recovered : "") %></td>
                    <td><%= (typeof deaths != "undefined" ? deaths : "") %></td>
                </tr>
                <!-- <%-JSON.stringify(x)%>
               

                <%-JSON.stringify(yescountries.country)%> -->
                
                <% for (const yescountry of yescountries) { %>
                    <!-- <%-JSON.stringify(yescountry.country)%> -->
                    <% if( x ){ %>
                        <tr>
                            <td><%= yescountry.country %></td>
                            <td><%=yescountry.todayCases %></td>
                            <td><%= yescountry.active%></td>
                            <td><%= yescountry.todayRecovered %></td>
                            <td><%= yescountry.todayDeaths %></td>
                        </tr>
                      <% } else{ %>  
                        <tr>
                            <td><%= yescountry.country %></td>
                            <td><%=yescountry.todayCases %></td>
                            <td><%= yescountry.active%></td>
                            <td><%= yescountry.todayRecovered %></td>
                            <td><%= yescountry.todayDeaths %></td>
                        </tr>
                     <% } %>
                    <!-- <tr>
                        <td><%= yescountry.country %></td>
                        <td><%=yescountry.todayCases %></td>
                        <td><%= yescountry.active%></td>
                        <td><%= yescountry.todayRecovered %></td>
                        <td><%= yescountry.todayDeaths %></td>
                    </tr> -->
                <% } %>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>